target-version = "py314"
line-length = 88
indent-width = 4

[format]
docstring-code-format = true

[lint]
select = [
  "E",   # pycodestyle
  "F",   # Pyflakes
  "UP",  # pyupgrade
  "B",   # flake8-bugbear
  "SIM", # flake8-simplify
  "I",   # isort
]

[lint.per-file-ignores]
"__init__.py" = ["F401"]
